/*------------------------------------------------
General
------------------------------------------------*/
html,
body {
    height: 100%
}

body {
    background-image: url("../../res/images/background.png");
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: #333;
    color: rgba(255, 255, 255, 1);
    font-family: 'Questrial', sans-serif;
}

h3 {
    color: rgba(255, 255, 255, 0.8);
    font-family: 'Roboto', sans-serif;
    font-size: 140%;
}

hr {
    border: 0;
    border-bottom: solid 1px rgba(255, 255, 255, 0.6);
    margin-top: 3em;
    width: 65%;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: #ffffff;
    text-decoration: none;
}

i {
    color: #ffffff;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

/*------------------------------------------------
Class
------------------------------------------------*/
.carousel-nav-icon {
    color: grey;
    font-size: 150%;
}

.carousel-nav {
    width: 5%;
}

.centercontent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-fragment {
    height: 100vh;
    width: 100%;

    display: flex;
    flex: 1 1 auto;
}

.icon {
    text-decoration: none;
    border-bottom: none;
    position: relative;

    transition: all 0.2s ease;
    border-radius: 100%;
    display: inline-block;
    padding: 0.5em;
    border: solid 1px rgba(255, 255, 255, 0.25);
    background-color: rgba(255, 255, 255, 0.075);
}

.icon:before {
    font-style: normal;
    text-transform: none !important;

    display: block;
    width: 1.25em;
    height: 1.25em;
    line-height: 1.25em;
    font-size: 1.35em;
}

.icon > .label {
    display: none;
}

.icon:hover {
    background-color: rgba(255, 255, 255, 0.25);
}

/*------------------------------------------------
ID
------------------------------------------------*/
#head-area {
    height: 100%;
}

#avatar {
    padding: 0.2em;

    background-color: rgba(255, 255, 255, 0.075);
    border-radius: 100%;

    margin-top: 2em;
    height: auto;
    width: 11em;
}

#logo {
    padding: 2em, 1em, 2em, 1em;
    margin-top: 2em;
    height: auto;
    width: 10em;
}

#linklist {
    margin-top: 2em;
    margin-bottom: 6em;
}

#content-area {
    height: 100vh;
}
