<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1 shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="../res/css/font-awesome.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Questrial|Roboto">
    <link rel="stylesheet" href="../res/css/style_main.css">
    <link rel="stylesheet" href="../res/css/style_fragment.css">
    <link rel="stylesheet" href="../res/css/jquery.fancybox.min.css" type="text/css">
</head>

<body>

    <div id="music" style="padding: 2rem;">
        <div class="container">
            <div class="row  centercontent">
                <h3 class="classifier text-black"> - <i class="fas fa-headphones-alt text-black"></i> - </h3>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="card">
                        <a data-fancybox data-small-btn="true" data-src="https://www.youtube.com/embed/j2K3SnkaSgc">
                            <img class="card-img-top img-fluid preview" src="https://img.youtube.com/vi/j2K3SnkaSgc/mqdefault.jpg">
                        </a>
                    </div>
                    <p class="card-text text-black">
                        Sleepwalking - Bring Me The Horizon [thck Cover]
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="../res/javascript/jquery.fancybox.min.js"></script>

</body>

</html>
